<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>profile</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/profile/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
    <link href="/static/profile/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/profile/css/main.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">
        <span class="d-block d-lg-none">Profile</span>
        <span class="d-none d-lg-block">
          <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="/static/profile/img/usr.png" alt="">
        </span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#experience">Jobs Offered</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#education">Students Applied</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#awards">Complaints</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container-fluid p-0">

      <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
        <!--<div class="my-auto">
          <h1 class="mb-0">
            <span class="text-primary"></span>
          </h1>
          <div class="subheading mb-5">
            <a href="mailto:name@email.com">name@email.com</a>
          </div>
          <p class="lead mb-5"></p>
         
        </div>-->
        <div class="my-auto">
          <h2 class="mb-5">Profile</h2>
          <button type="button"  class="btn btn-outline-primary"><a href="{% url 'company' %}">Edit Profile</a></button>
          <table class="table table-borderless">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>COMPANY NAME</td>
      <td></td>
    </tr>
    <tr>
      <td>ADDRESS</td>
      <td></td>
    </tr>
    <tr>
      <td>CONNTACT NO</td>
      <td></td>
    </tr>
    <tr>
      <td>CONTACT MAIL</td>
      <td></td>
    </tr>
    
  </tbody>
</table>

        <div>

      </section>

      <hr class="m-0">

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">
        <div class="my-auto">
          <h2 class="mb-5">JOBS OFFERD</h2>
        <div>
        <button type="button" class="btn btn-outline-primary"><a href="{% url 'jobinfo' %}">Add Job</a></button>
        <nav class="navbar navbar-light bg-light">
        
        
        

     <table class="table table-borderless">
  <thead>
    <tr>
      <th scope="col">JOB TITLE</th>
      <th scope="col">COMPANY</th>
      <th scope="col">APPLY</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td></td>
      <td></td>
      <td><!--button class="btn  btn-outline-primary my-2 my-sm-0" type="submit">Apply</button>--></td>
    </tr>
    <tr>
      
    </tr>
     <tr>
      
    </tr>
     <tr>
      
    </tr>
     <tr>
      
    </tr>
     <tr>
      
    </tr>
     <tr>
      
    </tr>
     <tr>
      
    </tr>
     <tr>
      
    </tr>
     <tr>
      
    </tr>

    
  </tbody>
</table>
  
</nav>

      </section>

      <hr class="m-0">

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="education">
        <div class="my-auto">
          <h2 class="mb-5">Students Applied</h2>

          <button type="button" class="btn btn-outline-primary">Search</button>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <table class="table table-borderless">
  <thead>
    <tr>
      <th scope="col">STUDENT NAME</th>
      <th scope="col">JOB TITLE</th>
      
    </tr>
  </thead>
  <tbody>
    <tr>
      <td></td>
      <td></td>
      <td><!--button class="btn  btn-outline-primary my-2 my-sm-0" type="submit">Apply</button>--></td>
    </tr>
    <tr>
      
    </tr>
     <tr>
      
    </tr>
     <tr>
      
    </tr>
     <tr>
      
    </tr>
     <tr>
      
    </tr>
     <tr>
      
    </tr>
     <tr>
      
    </tr>
     <tr>
      
    </tr>
     <tr>
      
    </tr>

    
  </tbody>
</table>
  
          </div>

          

        </div>
      </section>

     

      <hr class="m-0">

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="awards">
        <div class="my-auto">
          <h2 class="mb-5">Complaints</h2>
          <div class="form-group">
             <label for="comment">Write you complaint here</label>
             <textarea class="form-control" rows="5" id="comment"></textarea>
             
          </div>
          
          <button type="button" align='right' class="btn btn-outline-primary">Submit</button>
        <div>
      </section>

    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="/static/profile/vendor/jquery/jquery.min.js"></script>
    <script src="/static/profile/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/static/profile/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="/static/profile/js/resume.min.js"></script>

  </body>

</html>
